.Exhibit {
    float: left;
    margin: 5px;
    padding: 0px 5px;
    text-align: center;
    color: #f0f0f0;
    background-color: #AB46D2;
    border: 0.25vw solid #2679e6;
    border-radius: 30px;
}

.ExhibitHeading {
    font-weight: bold;
    font-size: 17px;
}

.ExhibitContent {
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    background-color: #55D8C1;
    border: 2px solid #2679e6;
    border-radius: 20px;
}
