.Banner {
    margin: 5px;
    padding: 0px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #f8f5f6;
    background-color: #AB46D2;
    border: 0.25vw solid #2679e6;
    border-radius: 2vw;
}